.container {
  display: flex;
  margin: 50px;
  padding: 50px;
}

.card {
  border: 2px lightslategray solid;

  border-radius: 10px;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  margin: 0 2% !important;
}
.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  margin: 0 2% !important;
}
.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  margin: 0 2% !important;
}
